{% extends 'main/base.html' %}

{% block title %}
about
{% endblock %}

{% block content %}
    <h1>Задание</h1>
    <p>
        Стек технологий:<br>
        Python 3.6<br>
        Redis (для хранения сессий)<br>
        PostgreSQL<br>
        Flask<br>

        Необходимо создать сайт с использованием Python 3.6 и Flask. Сайт - это сервис для диспетчерской такси.<br>

        http://127.0.0.1:8000<br>
        На страничке должна быть размещена форма для ввода номера телефона и пункта назначения.<br>

        http://127.0.0.1:8000/admin<br>
        Отображает список введенных данных с формы. Список отображается только в том случае, если пользователь авторизирован как админ.<br>

        http://127.0.0.1:8000/login<br>
        Форма для ввода данных для авторизации пользователя. После авторизации пользователя нужно сохранить в сессию.<br>

        Стили и "красивости" - на свое усмотрение<br>

        Нельзя использовать вспомогательные библиотеки для авторизации и админки.<br>
    </p>
    {% endblock %}
